.service_details img {
  width: 500px;
  height: 450px;
  margin: 0 auto;
  border: 5px solid gray;
}
.details_title {
  margin: 40px 0;
  text-align: center;
  font-size: 55px;
}
.review_warning {
  width: 500px;
  margin: 50px auto;
  background: rgba(255, 0, 0, 0.948);
  padding: 30px;
  border-radius: 10px;
  text-align: center;
  color: aliceblue;
}
@media screen and (max-width: 600px) {
  .service_details img {
    width: 95%;
    height: 350px;
  }
  .details_title {
    margin: 15px 0;
    font-size: 30px;
  }
  .review_warning {
    width: 94%;
    margin: 30px auto;
    padding: 20px;
  }
}
